body {
  font-family: 'Open Sans', sans-serif;
}

.container_1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.header_top {
  position: fixed;
  z-index: 3;
  right: 0;
  left: 0;
  top: 0;
  line-height: 15vh;
  vertical-align: middle;
  background-color: white;
}
/* NAV */
nav {
  text-align: right;
}

nav > ul {
  list-style: none;
}

ul > li {
  display: inline;
}

li > a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.hamburger {
  text-align: right;
  padding-right: 30px;
}

/* JUMBOTRON */
.jumbo {
  position: relative;
  margin-top: 15vh;
  min-width: 200px;
  height: 70vh;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 600px;
}

.title {
  color: white;
  font-size: 20px;
}

.title > p {
  padding: 15px;
}

.download {
  text-align: center;
}

/* PRIMA SEZIONE */

.product {
  text-align: center;
  background-color: #fafafa;
  width: 90%;
  margin: 50px auto;
  padding: 30px;
}

.text > a {
  text-decoration: none;
}


.product > img {
  height: 350px;
}

.lg_display_none {
  display: none;
}

/* SECONDA SEZIONE */

.container-fluid {
  height: 80vh;
}

.container.old {
  padding-top: 35vh;
}


.old_man {
  background-image: url("../img/HelbizBanner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}


.iphone > img{
  width: 30vh;
  display: block;
  margin: 0 auto;
}

.phone_text {
  padding-top: 30vh;
  width: 60%;
}

.phone_text.left {
  margin-left: 50%;
}
/* MOBILE */
@media screen and (max-width: 768px) {
  .nav.md_display_none,
  .phone_text.xs_display_none {
    display: none;
  }

  i.md_display_block {
    display: block;
    text-align: right;
    padding: 30px 40px;
    font-size: 2em;
  }

  .logo {
    padding-left: 30px;
  }

  .title {
    font-size: 20px;
    min-width: 200px;
  }

  .container.old {
    padding-top: 10vh;
  }

}

/* TABLET */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .nav.md_display_none,
  .phone_text.md_display_none {
    display: none;
  }

  i.md_display_block {
    display: block;
    text-align: right;
    padding: 30px 40px;
    font-size: 2em;
  }

  .logo {
    padding-left: 30px;
  }

  .center {
    min-width: 600px;
  }

  .container.old {
    padding-top: 15vh;
  }

}
